/Temp
/Library
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/LuaFramework_NGUI.sln
/LuaFramework_NGUI.userprefs
/LuaFramework_NGUI-csharp.sln
/UnityVS.LuaFramework_NGUI.CSharp.csproj
/UnityVS.LuaFramework_NGUI.CSharp.Editor.csproj
/UnityVS.LuaFramework_NGUI.sln
/Assets/UnityVS
/Assets/UnityVS.meta
